.user-area {
    display: inline-block;
    margin: 0 1.5% 20px 1.5%;
}
.user {
    display: inline-block;
}
.user .user-pic {
    width: 40vw;
    height: 40vw;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.user .user-pic img {
    object-fit: cover;
    width: 40vw;
    height: 40vw;
    max-width: 150px;
    max-height: 150px;
}
a img {
    border: none;
}
.user .user-descs {
    word-break: break-all;
    word-wrap: break-word;
    width: 45vw;
    max-width: 160px;
    margin: 15px 0;
}
.user .user-descs {
    word-break: break-all;
    word-wrap: break-word;
    width: 45vw;
    max-width: 160px;
    margin: 15px 0;
    text-align: center;
}

.user .user-descs h3 {
    font-size: 15px;
    color: #333;
    height: 15px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    text-align:center;
}

.sample {
    width: 600px;
    margin: 0 auto;
}
button.follow-button {
vertical-align: middle;
    font-size: 13px;
    padding: 12px;
    -moz-border-radius: 999em;
    -webkit-border-radius: 999em;
    border-radius: 999em;
    margin: 0 auto;
    width: 105px;
    margin-top: 10px;
    background-color: transparent;
    display: block;
    padding: 8px 0;
    color: #FFF;
    border-radius: 3px;
    font-size: 12px;
    border-color: #4aa3df;
}
.spinner,.unfollow-desc {
    display: none;
}
.off .unfollow-desc {
    display: block;
}
.off .follow-desc {
    display: none;
}


.palette__code {
    display: block;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
}
.type1 .palette__code {
    color: #2D4472;
}
.type1 button.follow-button{
    border: 1px solid #2D4472;
    background-color: #2D4472;
}


.type2 .palette__code {
    color: #2a83a2 ;
}
.type2 button.follow-button{
    border: 1px solid #2a83a2 ;
    background-color: #2a83a2 ;
}

.type3 .palette__code {
    color: #267CA7 ;
}
.type3 button.follow-button{
    border: 1px solid #267CA7 ;
    background-color: #267CA7 ;
}


.type4 .palette__code {
    color: #2ca9e1 ;
}
.type4 button.follow-button{
    border: 1px solid #2ca9e1 ;
    background-color: #2ca9e1 ;
}

.type5 .palette__code {
    color: #0095d9 ;
}
.type5 button.follow-button{
    border: 1px solid #0095d9 ;
    background-color: #0095d9 ;
}
