.user-area {
    display: inline-block;
    margin: 0 1.5% 20px 1.5%;
}
.user {
    display: inline-block;
}
.user .user-pic {
    width: 40vw;
    height: 40vw;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.user .user-pic img {
    object-fit: cover;
    width: 40vw;
    height: 40vw;
    max-width: 150px;
    max-height: 150px;
}
a img {
    border: none;
}
.user .user-descs {
    word-break: break-all;
    word-wrap: break-word;
    width: 45vw;
    max-width: 160px;
    margin: 15px 0;
}
.user .user-descs {
    word-break: break-all;
    word-wrap: break-word;
    width: 45vw;
    max-width: 160px;
    margin: 15px 0;
    text-align: center;
}
.sample {
    width: 600px;
    margin: 0 auto;
}
button.follow-button {
    vertical-align: middle;
    border: 1px solid #4aa3df;
    color: #4aa3df;
    font-size: 13px;
    padding: 12px;
    -moz-border-radius: 999em;
    -webkit-border-radius: 999em;
    border-radius: 999em;
    margin: 0 auto;
    width: 105px;
    margin-top: 10px;
    background-color: transparent;
    display: block;
    margin-top: 0px;
}
.spinner {
    display: none;
}
