<!DOCTYPE html>
<html lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<title>blogtest</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel=stylesheet href="/site_color/default.css">
</head>
<body>
	



	
<div class="container py-5 type1">

	
<div class="palette__group my-5">
  <div class="palette__pane"></div>
  <div class="palette__color"><span class="palette__code">#A9944A 北斎ブルー</span></div>
</div>
	
<hr>
	
<div class="sample">

<div class="user-area"><a class="user" href="/users/pressblog" data-lb-orig-href="https://pressblog.me/users/pressblog"><div class="user-pic"><img src="https://image.pressblog.me/uploads/insta_user/profile_picture/5090/size400x400_29828367-355d-463a-855d-342b2feeaa83.jpg"></div><div class="user-descs"><h3>PRESS編集部</h3></div></a><button class="follow-button loaded unfollow" data-user-id="5090" ng-class="{unfollow: gmc.isFollowed(5090), loaded: gmc.isLoadedFollowInfo(), me: gmc.isMe()}" ng-click="gmc.followOrUnfollowUser(5090)"><div class="button-inner"><div class="inner follow-desc"><span class="plus">+</span><span>FOLLOW</span></div><div class="inner unfollow-desc"><span class="plus"><i class="fa fa-check"></i></span><span>フォロー中</span></div></div><div class="spinner"><div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div></div></button></div>
<div class="user-area"><a class="user" href="/users/noz_omi" data-lb-orig-href="https://pressblog.me/users/noz_omi"><div class="user-pic"><img src="https://image.pressblog.me/uploads/insta_user/profile_picture/3009/size400x400_db3b8e9f-a559-414a-a7cc-dfd7815f67f6.jpg"></div><div class="user-descs"><h3>Nozomi Urakawa</h3></div></a><button class="follow-button loaded" data-user-id="3009" ng-class="{unfollow: gmc.isFollowed(3009), loaded: gmc.isLoadedFollowInfo(), me: gmc.isMe()}" ng-click="gmc.followOrUnfollowUser(3009)"><div class="button-inner"><div class="inner follow-desc"><span class="plus">+</span><span>FOLLOW</span></div><div class="inner unfollow-desc"><span class="plus"><i class="fa fa-check"></i></span><span>フォロー中</span></div></div><div class="spinner"><div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div></div></button></div>
<div class="user-area"><a class="user" href="/users/____lost__at__sea____" data-lb-orig-href="https://pressblog.me/users/____lost__at__sea____"><div class="user-pic"><img src="https://image.pressblog.me/uploads/insta_user/profile_picture/57216/size400x400_462815e2-fb15-421d-af08-dcacc8dbc1ac.jpeg"></div><div class="user-descs"><h3>yui</h3></div></a><button class="follow-button loaded" data-user-id="57216" ng-class="{unfollow: gmc.isFollowed(57216), loaded: gmc.isLoadedFollowInfo(), me: gmc.isMe()}" ng-click="gmc.followOrUnfollowUser(57216)"><div class="button-inner"><div class="inner follow-desc"><span class="plus">+</span><span>FOLLOW</span></div><div class="inner unfollow-desc"><span class="plus"><i class="fa fa-check"></i></span><span>フォロー中</span></div></div><div class="spinner"><div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div></div></button></div>

</div>

	
</div>




</body>
</html>
